{% extends "layout.njk" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw=" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
  <div class="float-right" >
    <div class="btn-group" role="group">
      <a href="/overpass" class="btn btn-secondary"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back</a>
      <a href="#" class="btn btn-outline-secondary disabled">Next <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <h2>3 - Compare</h2>
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>{{file}}</h3>
      <div class="row">
        <div class="col-4">
          <h4>{{countLeft}} object(s)</h4>
          <div id="infos-left-content"></div>
        </div>
        <div class="col-8">
          <div id="map-left"></div>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>OpenStreetMap</h3>
      <div class="row">
        <div class="col-8">
          <div id="map-right"></div>
        </div>
        <div class="col-4">
          <h4>{{countRight}} object(s)</h4>
          <div id="infos-right-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.js" integrity="sha256-AS3nJgIE4+tPLihbjC2HgphwH1ofrA+7JaP4WmPL+9Q=" crossorigin="anonymous"></script>
<script>
  window.app = {
    area: {{ area | dump | safe }},
    json: {{ geojson | dump | safe }},
    osm: {{ osm | dump | safe }}
  };
</script>
<script src="/javascripts/compare.js"></script>
{% endblock %}
