{% extends "layout.njk" %}

{% block content %}
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et nisl ac felis bibendum consequat quis in augue. Duis tempor dignissim libero a suscipit. Proin vitae vehicula massa. Vivamus id erat at enim mattis ullamcorper. Aenean lacinia mauris sed pellentesque accumsan. Pellentesque scelerisque id elit ultrices convallis. Fusce pellentesque vestibulum viverra. Quisque ullamcorper metus non nulla pulvinar, a consectetur massa pellentesque. Sed ac risus mollis lorem aliquet molestie. Praesent egestas ante est, non venenatis sapien efficitur ut. Nullam vitae pharetra sapien. </p>
</div>
{% endblock %}
